.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: rgb(22, 21, 21); */
}

.circle {
  position: relative;
  width: 50px; /* Diameter of the circle */
  height: 50px; /* Diameter of the circle */
  border-radius: 50%;
  margin: 50px auto;
}

.dot {
  position: absolute;
  width: 2px; /* Size of the dot */
  height: 2px; /* Size of the dot */
  background-color: #fff !important;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform-origin: 0 -25px; /* Half of the circle's radius */
}
